body {
	position: relative;
	margin: 0px;
}
#canvas {
	margin: 0px;
	padding: 0px;
	border: 16px solid #000000;
	border-bottom: 32px solid #000000;
}
#wrapper {
	position: relative;
	margin:16px;
}
#massinput {
	height: 32px;
	width: 96px;
	margin:auto;
	position: absolute;
	bottom: 5px;
	right: -1px;
}
#massentry {
	background-color: white;
	height: 32px;
	width: 96px;
	margin:auto;
	position: absolute;
	bottom: 5px;
	right: 95px;
}
#radiusinput {
	height: 32px;
	width: 96px;
	margin:auto;
	position: absolute;
	bottom: 5px;
	right: 191px;
}
#radiusentry {
	background-color: white;
	height: 32px;
	width: 96px;
	margin:auto;
	position: absolute;
	bottom: 5px;
	right: 287px;
}
#restitutioninput {
	height: 32px;
	width: 96px;
	margin:auto;
	position: absolute;
	bottom: 5px;
	right: 383px;
}
#restitutionentry {
	background-color: white;
	height: 32px;
	width: 96px;
	margin:auto;
	position: absolute;
	bottom: 5px;
	right: 479px;
}
#fpsinput {
	height: 32px;
	width: 96px;
	margin:auto;
	position: absolute;
	bottom: 5px;
	right: 575px;
}
#fpsentry {
	background-color: white;
	height: 32px;
	width: 96px;
	margin:auto;
	position: absolute;
	bottom: 5px;
	right: 671px;
}